nav-bar{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 10px;


}

ul{
    display: flex;
    list-style-type: none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    align-items: center;


}

li{
    display: block;
    margin: 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;

}

li a{
    text-decoration: none;
    color: beige;
}





