/* styles.css (or your preferred CSS file) */

.search-bar {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    background: transparent;
    color: #fff;
    flex-grow: 1;
    width: 140%;
    outline: none; /* Remove the blue highlight */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.empty {
    background-color: #808080;
    color: #fff;
  }
  
  button.filled {
    background-color: #0074cc;
    color: #fff;
  }
  
  button:hover {
    background-color: #005aa5;
  }
  