html{
  background-color: #282c34;
}

.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 500px){
  .Chart-container{
    min-height: 200px;
  }
  .Charts{
    size: 200px;
  }
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Chart-container{
  display: flex;
  justify-content: center;
}
.Charts{
  color: white;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  flex-direction: column;
  width: 90%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
