html{
  background-color: #282c34;
}

.App {
  text-align: center;
}






.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.Yield-Table{
  display: flex;
  justify-content: center;
}

.Chart-container{
  display: flex;
  justify-content: center;
}
.Charts{
  color: white;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 700px){
  .Charts{
    width: 90%;
  }
}
